  body {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(145, 229, 255);
  }
  
  h1 {
  font-size: 42px;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
  
#gridSizeSlider {
  -webkit-appearance: none;
  margin: 0 auto;
  display: block;
  width: 30%;
  height: 10px;
  background: #000;
  outline: none;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 8px;
}


#gridSizeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 60px;
  background: #000;
  cursor: pointer;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 4px;
}

/* for firefox */
gridSizeSlider::-moz-range-thumb {
  width: 20px;
  height: 60px;
  background: #000;
  cursor: pointer;
  border: 5px solid rgb(255, 205, 164);
  border-radius: 4px;
}

  .grid-container {
    height: 600px;
    width: 600px;
    margin: 10vh auto;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
  }
  
  .grid-item {
  border: 0.5px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

